/* styles.css by me */

body{background-color:#fff4e6;}
h1{color: #005073; font-size: 35px }
h1{color: #854442; background-color:#FFCCBC; text-align: center; font-size: 45px; font-family: arial; text-decoration: underline; }
h2{font-size: 30px; font-style: italic;color:#189ad3; text-align: center;}
a {text-decoration: none;}
a style{font-size: 50px; color: #e18800;font-weight: bold;}

p{font-size:20px; font-family:cambria;}	



